.container {
  margin-top: 65px;
}
@media only screen and (max-width: 750px) {
  .container {
    margin-top: 35px;
  }
}

.board {
  position: relative;
  width: 40%;
  min-width: 330px;
  max-width: 450px;
  z-index: 100;
}
@media only screen and (min-height: 700px) {
  .board {
    margin-top: 8%;
  }
}

@media only screen and (min-height: 900px) {
  .bottom-content {
    position: relative;
    top: 110px;
  }
}

.block-container {
  z-index: 100;
}

/* unclickable block */
.block {
  position: relative;
  width: 65px;
  z-index: 100;
  height: auto;
}

.block-clickable {
  position: relative;
  width: 65px;
  z-index: 100;
  height: auto;
}
.block-clickable:hover {
  cursor: pointer;
}

.block-name-container{
  display: flex;
  justify-content: center;
}
.block-name {
  color: white;
  font-size: larger;
  font-weight: bold;
  z-index: 100;
  margin-right: 60px;
}
.block-name:hover {
  cursor: pointer;
}
.block-name-right {
  color: white;
  font-size: larger;
  font-weight: bold;
  z-index: 100;
}
.block-name-right:hover {
  cursor: pointer;
}

.block-popup-container {
  display: flex;
  justify-content: center;
  position: relative;
  height: 55px;
  top: 60px;
  z-index: 99;
}
/* @media only screen and (min-height: 1000px) {
  .block-popup-container {
    position: relative;
    top: 160px;
  }
} */

#mushroom {
  position: relative;
  top: 0;
  margin-right: 75px;
}
#mushroom2 {
  position: relative;
  top: 0;
  margin-right: 75px;
}
#flower {
  position: relative;
  top: 0;
}

.jump-animate {
  animation: jump 2s;
}
@keyframes jump {
  80% {
    top: -60px;
  }
  100% {
    top: -60px;
  }
}
