.board {
  position: relative;
  width: 40%;
  min-width: 330px;
  max-width: 450px;
  z-index: 100;
}
@media only screen and (min-height: 700px) {
  .board {
    margin-top: 8%;
  }
}

.block-container {
  z-index: 100;
}

/* unclickable block */
.block {
  position: relative;
  width: 65px;
  z-index: 100;
  height: auto;
}

.block-clickable {
  position: relative;
  width: 65px;
  z-index: 100;
  height: auto;
}
.block-clickable:hover {
  cursor: pointer;
}

.block-name {
  color: white;
  font-size: larger;
  font-weight: bold;
  z-index: 100;
  margin-left: 2.4%;
  margin-right: 1.4%;
}

.block-popup-container {
  display: flex;
  justify-content: center;
  position: relative;
  height: 55px;
  top: 60px;
  z-index: 99;
}

#mushroom {
  position: relative;
  top: 0;
  margin-right: 65px;
}
#mushroom2 {
  position: relative;
  top: 0;
  margin-right: 65px;
}
#flower {
  position: relative;
  top: 0;
}

.jump-animate {
  animation: jump 2s;
}
@keyframes jump {
  80% {
    top: -60px;
  }
  100% {
    top: -60px;
  }
}
