#character {
  background-color: red;
  width: 50px;
  height: 50px;
  position: relative;
  top: 150px;
  z-index: 100;
}
.jump-animate {
  animation: jump 1s;
}

@keyframes jump {
  0% {
    top: 150px;
  }
  50% {
    top: 100px;
  }
  100% {
    top: 150px;
  }
}

.board {
  position: relative;
  width: 40%;
  min-width: 330px;
  max-width: 450px;
  z-index: 100;
}
@media only screen and (min-height: 700px) {
  .board {
    margin-top: 8%;
  }
}

.block-container {
  margin-top: 2%;
  z-index: 100;
}

.block {
  position: relative;
  width: 4%;
  max-width: 75px;
  min-width: 50px;
  z-index: 100;
}
