.project-container {
  display: flex;
  flex-direction: row;
  width: max-content;
  margin-top: 65px;
}
@media only screen and (max-width: 750px) {
  .project-container {
    margin-top: 35px;
  }
}

@media only screen and (max-width: 500px) {
  .project-container {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-height: 700px) {
  .project-container {
    margin-top: 8%;
  }
}

.nav {
  z-index: 100;
}
