.working-container {
  display: flex;
  flex-direction: row;
  width: max-content;
}

@media only screen and (max-width: 500px) {
  .working-container {
    display: flex;
    flex-direction: column;
  }
}

@media only screen and (min-height: 700px) {
  .working-container {
    margin-top: 8%;
  }
}

.nav {
  z-index: 100;
}
