:root {
  --sky-color: #82aefd;
  --board-color: #bc440f;
}

html,
body {
  background-color: var(--sky-color);
}

.App {
  text-align: center;
}

.floor {
  position: fixed;
  width: -webkit-fill-available;
  min-width: 800px;
  left: 0;
  bottom: 0;
  z-index: 0;
}

.point {
  max-width: 1000px;
  min-width: 350px;
  width: 80%;
  left: 0;
  top: 0;
}
