:root {
  --sky-color: #82aefd;
  --board-color: #bc440f;
}

html,
body {
  background-color: var(--sky-color);
}

.App {
  text-align: center;
}

.floor {
  position: fixed;
  width: -webkit-fill-available;
  min-width: 800px;
  left: 0;
  bottom: 0;
  z-index: 0;
}

.point {
  position: fixed;
  left: 15%;
  top: 10px;
  width: 800px;
}

@media only screen and (max-width: 750px) {
  .point {
    width: 400px;
  }
}

/* .layout {
  margin-top: 65px;
  background-color: pink;
}

@media only screen and (max-width: 750px) {
  .layout {
    margin-top: 35px;
  }
} */
